.*~
docs/*~
docs/*.html
docs/*.pdf
ecad/gnucap/*.dat
ecad/gschem/BOM
ecad/gschem/DRC
ecad/gschem/geda_netlist
ecad/gschem/pcb_netlist
ecad/gschem/plotfiles
ecad/gschem/*~
ecad/pcb/bom
ecad/pcb/fab
ecad/pcb/plotfiles
ecad/pcb/pnp
ecad/pcb/test
mcad/eyecandy
mcad/plotfiles
src/*~
src/*.bak
